---
import Logo from "./Logo.astro";
---
<footer class="m-8 font-roboto pb-1">
    <section class="flex flex-col items-center xl:flex xl:flex-row xl:items-center xl:justify-around xl:space-x-20">
        <div class="xl:hidden mb-10">
            <Logo/>
        </div>
        <div class="text-center space-y-5 mb-10 xl:hidden">
            <h1 class="text-texto text-[24px] md:text-[40px] font-bold">PROFESSIONAL WEB DESIGN</h1>
            <p class="text-texto text-[18px] md:text-[27px]">Hi! My name ia Dmitrii Rogoza and i’m an expert in web design and branding. I can help you make your website more attractive</p>
            <div class="flex flex-row items-center justify-around">
                <div class="space-y-8">
                    <h2 class="text-texto font-bold text-[22px] md:text-[35px] underline decoration-gray-400 underline-offset-8">Product</h2>
                    <ul class="space-y-3 [&>li>a]:text-texto">
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">Landing Page</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">Popup Builder</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">Web-design</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">Content</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">Integrations</a></li>
                    </ul>
                </div>
                
                
                <div class="space-y-8">
                    <h2 class="text-texto font-bold text-[22px] md:text-[35px] underline decoration-gray-400 underline-offset-8">Company</h2>
                    <ul class="space-y-3  [&>li>a]:text-texto">
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">About Us</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">Careers</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">FAQs</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">Teams</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px]" href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
    
        <div class="mb-10 md:flex md:flex-row md:items-center md:mt-10 xl:hidden">
            <img src="/Proyecto-14-Footer-Phone/assets/mobilexl.png" alt="Mobile XL">
            <img class="hidden md:flex md:mt-[70px]" src="/Proyecto-14-Footer-Phone/assets/mobile.png" alt="Mobile">
        </div>

        <div class="text-center space-y-5 mb-10 md:mt-10 md:space-y-10 xl:flex xl:flex-col xl:items-start xl:max-w-[400px]">
            <h1 class="text-texto text-[24px] md:text-[40px] font-bold">SUBSCRIBE</h1>
            <p class="text-texto text-[18px] md:text-[27px] xl:text-start">Subscribe to stay tuned for new web design and latest updates. Let's do it! </p>
            <form class="flex flex-row justify-around md:flex md:flex-row md:items-center md:justify-center md:space-x-6 xl:space-x-3">
                <input class="border focus:ring-2 focus:ring-gray-400 focus:outline-none p-3 md:w-[500px] xl:w-[300px] xl:p-5" type="email" placeholder="Enter your email">
                <button class="bg-texto p-3 md:px-10 hover:text-texto hover:bg-gray-500 font-bold transition-colors duration-300 xl:p-5" type="submit">Subscribe</button>
            </form>
            <div class="flex flex-row items-center justify-between md:flex md:flex-row md:items-center md:justify-center md:space-x-20 xl:space-x-10">
                <img class="hover:animate-pulse md:w-[70px] xl:w-[50px]" src="/Proyecto-14-Footer-Phone/assets/facebook.svg" alt="Boton de facebook">
                <img class="hover:animate-pulse md:w-[70px] xl:w-[50px]" src="/Proyecto-14-Footer-Phone/assets/figma.svg" alt="Boton de figma">
                <img class="hover:animate-pulse md:w-[70px] xl:w-[50px]" src="/Proyecto-14-Footer-Phone/assets/instagram.svg" alt="Boton de instagram">
                <img class="hover:animate-pulse md:w-[70px] xl:w-[50px]" src="/Proyecto-14-Footer-Phone/assets/telegram.svg" alt="Boton de telegram">
            </div>   
        </div>
    
    
        <div class="hidden md:hidden xl:flex xl:flex-col space-y-10 xl:mt-20 xl:max-w-[600px]">
            <h1 class="text-texto text-[24px] md:text-[40px] font-bold">PROFESSIONAL WEB DESIGN</h1>
            <p class="text-texto text-[18px] md:text-[27px] xl:text-start">Hi! My name ia Dmitrii Rogoza and i’m an expert in web design and branding. I can help you make your website more attractive</p>
            <div class="flex flex-row items-center justify-around">
                <div class="space-y-8">
                    <h2 class="text-texto font-bold text-[22px] md:text-[35px] underline decoration-gray-400 underline-offset-8 xl:text-[22px]">Product</h2>
                    <ul class="space-y-3 [&>li>a]:text-texto">
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">Landing Page</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">Popup Builder</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">Web-design</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">Content</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">Integrations</a></li>
                    </ul>
                </div>

                <div class="space-y-8">
                    <h2 class="text-texto font-bold text-[22px] md:text-[35px] underline decoration-gray-400 underline-offset-8 xl:text-[22px]">Company</h2>
                    <ul class="space-y-3 [&>li>a]:text-texto">
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">About Us</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">Careers</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">FAQs</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">Teams</a></li>
                        <li class="hover:animate-squeeze"><a class="hover:text-textohover transition-colors duration-300 md:text-[25px] xl:text-[18px]" href="">Contant Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
    
        <div class="hidden md:hidden xl:flex xl:flex-row xl:items-end xl:mt-20">
            <img class="xl:h-[600px]" src="/Proyecto-14-Footer-Phone/assets/mobilexl.png" alt="Mobile XL">
            <img class="xl:h-[400px]" src="/Proyecto-14-Footer-Phone/assets/mobile.png" alt="Mobile">
        </div>
    
    
    </section>
    
    <hr>

    <section class="flex flex-col items-center space-y-3 mb-10 mt-10 md:flex md:flex-row md:items-center md:justify-around md:mt-10 md:mb-10 xl:justify-between">
        <div class="hidden md:hidden">
            <Logo/>
        </div>
        <p class="text-texto text-center md:text-[27px] md:w-[400px] xl:w-auto xl:text-[18px]" >Wisconsin Ave, Suite 700 Chevy Chase, Maryland 20815</p>
        <p class="text-texto text-center md:text-[27px] whitespace-nowrap xl:text-[18px]">+1 800 854-36-80</p>
    </section>
    
    <hr class=" mb-5 md:mb-10">

    <section class="flex flex-col items-center space-y-3 mb-10 md:space-y-6 xl:flex xl:flex-row xl:items-center xl:justify-between">
        <p class="text-texto text-center md:text-[20px] xl:text-[18px]">©️ 2021 All Rights Reserved</p>
        <div class="flex flex-col items-center md:flex md:flex-row md:items-center md:space-x-10">
            <a class="text-texto hover:animate-squeeze hover:text-textohover transition-colors duration-300 md:text-[20px] xl:text-[18px]" href="#">Privacy Policy</a>
            <a class="text-texto hover:animate-squeeze hover:text-textohover transition-colors duration-300 md:text-[20px] xl:text-[18px]" href="#">Terms of Use</a>
            <a class="text-texto hover:animate-squeeze hover:text-textohover transition-colors duration-300 md:text-[20px] xl:text-[18px]" href="#">Sales and Refunds</a>
            <a class="text-texto hover:animate-squeeze hover:text-textohover transition-colors duration-300 md:text-[20px] xl:text-[18px]" href="#">Legal</a>
            <a class="text-texto hover:animate-squeeze hover:text-textohover transition-colors duration-300 md:text-[20px] xl:text-[18px]" href="#">Site Map</a>
        </div>
    </section>
</footer>

